<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <h1>My Website</h1>
                <ul>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="profession.html">profession</a></li>
                    <li><a href="Activities.html">Activities</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <h1 class="detailed-info-profession">info about profession</h1>
            <img src="placeholder.jpg" alt="profession description">im
            <p>My profession is Freelance in webdevelopment during this course.
                i've gained skills in programming languages like Python, Django-framework, Html, and Css!
            </p>
        </div>
        <div class="container">
            <h1 class="detailed-info-profile">info about profile</h1>
            <img src="placeholder.jpeg" alt="profile description">
            <p>Passionate about web developement and building applications throughly enjoying</p>
        </div>
        <div class="container">
            <h1 class="detailed-info-Activities">info about Activies</h1>
            <img src="placeholder.jpeg" alt="Activities">
            <p>Passionate about web developement and building applications throughly enjoying</p>
        </div>
    </main>
    <footer>
        <div class="container">
            <ul class="social_links">
                <li><a href="https://www.facebook.com">Facebook</a></li>
                <li><a href="https://www.instagram.com">Instagram</a></li>
                <li><a href="https://www.whatsapp.com">WhatsApp</a></li>
            </ul>
            <p>EmailTo:<a href="mailto:valluri.shekar69@gmail.com">valluri.shekar69@gmail.com</a></p>      
            <p>2024 My Portfolio @ All rights reserved by Shekar valluri</p>
        </div>
    </footer>
</body>
</html>